body{
    background-color: #CDE6F5;
    margin: 0px;
    padding: 0px;
    background-image: url(assets/website-background.jpg);
    
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    z-index: -1;
}

header{
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    padding-top: 3rem;
    height: 100px;
    width: auto;
    display: flex;
    color: black
}

#nav{
    justify-content: Center;
    align-items: center;
    font-size: 1.5em;
    height: 50px;
    width: auto;
    display: flex;
    gap: 20px;
    padding-right: 30px;
    Background-color: #587B7F;
    opacity: 0.6;
}

#nav > li{
    list-style: none;
}

#nav > li > a{
    color: white;
    text-decoration: none;
}

#nav > li > a:hover{
    color:black;
    transition: 0.5s ease;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image{
    display: flex;
    gap: 20px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.text{
    display: block;
    width: 50%;
    height: auto;
}

.text> p{
    color: black;
    font-size: 1.2rem;
    text-align: center;

}

.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.social-media > a > img{
    display: inline-block;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 30px;
    height: 30px;
} 

.social-media > p{
    display: inline-block;
    justify-content: center;
    align-items: center;
}

copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: black;
    margin-top: 20px;
    float: bottom;
    margin-top: 100%
}